body {
    margin: 0;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight:500;
    font-style: normal;
    color: #1B4332;
    background: #F3EFEB;
    hyphens: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: .05em;
}

.container {
    max-width: 1000px;
    margin-inline: auto;
}

.menu-header {
    text-align: center;
    margin-top: 20px;
}

.logo {
    width: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.title-menu {
    margin: 10px 0 6px;
    color: #AF4327;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 27px;
}

.title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.menu-title-line {
    width: 15%;
    height: 3px;
    background-color: #e8a23b;
    border-radius: 2px;
}

.menu-title-dot {
    width: 12px;
    height: 12px;
    background-color: #e8a23b;
    border-radius: 50%;
}

.container-menu {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
    padding: 8px 22px 0;
    gap: 8px 64px;
}

.container-menu > * {
    flex: 1 1 calc(33.33% - 64px); /* jusqu'à 3 colonnes */
    min-width: calc(33.33% - 64px);
}

.container-menu.separator::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-left: 2px dotted #F2B556;
    opacity: .9;
}

.menu-theme {
    padding: 6px 10px;
}

.menu-theme-title {
    margin: 0 0 4px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 22px;
}

.items {
    display: flex;
    flex-direction: column;
}

.item {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: start;
    margin-top: 10px;
    margin-bottom: 10px;
}

.item-label {
    font-weight: 700;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.menu-item-subtitle {
    grid-column: 1 / -1;
    font-weight: 700;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.price {
    font-weight: 700;
    white-space: nowrap;
    margin-left: 5px;
}

.item-description {
    grid-column: 1 / -1;
    padding: 0;
    text-align: center;
    line-height: 1.4;
    color: #5A3426;
    font-size: 11px;
}

.extras {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px 50px;
    justify-content: center;
    position: relative;
}

.extras::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 35%;
    border-top: 2px dotted #F2B556;
}

.separator-line {
    display: flex;
    margin-bottom: 20px;
    position: relative;
}

.separator-line:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    border-top: 2px dotted #F2B556;
}

@media (max-width: 768px) {
    .item-description, .menu-item-subtitle {
        font-size: 8px;
    }

    .item-label {
        font-size: 11px;
    }

    .menu-theme-title {
        font-size: 13px;
    }

    .title-menu {
        font-size: 20px;
    }

    .menu-theme {
        padding: 3px 0;
    }

    .container-menu {
        gap: 8px 10px;
    }

    .logo {
        width: 100px;
    }

    .extras::before {
        width: 60%;
    }

    .items {
        margin-top: 20px;
    }
}